replicaCount: 1

image:
  repository: 273809175099.dkr.ecr.ap-south-1.amazonaws.com/dev_protfolio/frontend
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80


resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 256Mi

nodeSelector: {}
tolerations: []
affinity: {}
